.idea

/_tmp/
/faker/
/core/cache/
/core/config/
/core/docs/
/core/error/
/core/lexicon/
/core/model/
/core/packages/
/core/xpdo/
/setup/
/manager/
/connectors/
/assets/cache_image/
/_build/shk3_demo_site/shk3_simple_site/
/.htaccess

/core/export/
/core/import/
/core/components/formit/
/core/components/getpage/
/core/components/migx/
/core/components/phpthumbon/
/core/components/tinymcerte/
/core/components/translit/
/core/components/wayfinder/
/core/components/getresources/
/core/components/login/

/assets/components/formit/
/assets/components/phpthumbon/
/assets/components/tinymcerte/
/assets/components/migx/
/assets/components/shopkeeper3/node_modules/
/config.core.php
