[[$head]]

[[$header2]]

[[QuickCrumbs@breadcrumbs]]

<div class="catalog-header">
    <div class="form-group pull-right">
        <select class="f_limit form-control" name="limit" onchange="tmFilters.changeOrder(this);">
            <option value="9" selected="selected">9</option>
            <option value="12">12</option>
            <option value="24">24</option>
        </select>
    </div>
    <div class="form-group pull-right" id="viewSwitch">
        <div class="btn-group">
            <a class="btn btn-default active" data-toggle="tooltip" title="Плитка">
                <i class="glyphicon glyphicon-th"></i>
            </a>
            <a class="btn btn-default" data-toggle="tooltip" title="Список">
                <i class="glyphicon glyphicon-list"></i>
            </a>
        </div>
    </div>
    <div class="pagetitle">
        <h1>[[*pagetitle]]</h1>
    </div>
    <div class="clearfix"></div>
</div>

<div class="row">
    
    <div class="col-xs-12 col-md-3">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <button class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Сброс" onclick="tmFilters.resetFilters(); return false;">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </div>
                <h4>
                    <button class="btn btn-primary btn-xs visible-xs-inline-block visible-sm-inline-block" data-toggle="collapse" data-target="#filters">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                    Поиск товаров
                </h4>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body collapse in" id="filters">
                
                <form action="[[~[[*id]]]]" method="get">
                    
                    <div class="row">
                    [[tmFilters@filters?
                    &filterOuterTpl=`tm2_filterOuterTpl_select`
                    &filterTpl=`tm2_filterTpl_select`
                    &filterNumericOuterTpl=`tm2_filterOuterTpl`
                    &filterNumericTpl=`tm2_filterNumericTpl`
                    ]]
                    </div>
                    
                    <input type="hidden" name="page_id" value="[[*id]]" disabled="disabled" />
                    <input type="hidden" name="sortdir" value="asc" />
                    
                </form>
                
            </div>
        </div>
        
    </div>
    
    <div class="col-xs-12 col-md-9">
        
        <div class="row" id="products">
            [[!tmCatalog]]
            <div class="clearfix"></div>
        </div>
        
        <div class="clearfix"></div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" id="button-show-more">
                <span>[[!+limit]] / [[!+total]]</span>
                &nbsp;&nbsp;
                Показать ещё
                &nbsp;
                <i class="icon" data-icon="&#xe0bf"></i>
            </button>
        </div>
        
    </div>
    
</div>

<script type="text/javascript" src="[[++base_url]]assets/components/tag_manager2/js/web/one_page_pagination.js"></script>
<script type="text/javascript">
    onePagePagination.init({
        currentPage: [[!+page]],
        onPageLimit: [[!+limit]],
        totalPages: [[!+pageCount]],
        totalItems: [[!+total]]
    });
</script>

[[$footer]]