[[$head]]

[[$header]]

[[QuickCrumbs@breadcrumbs]]

<div class="row">
    <div class="col-md-12">
        
        <div class="jumbotron">
            <div class="jumbotron-contents page-content">
                
                <div class="row">
                    <div class="col-md-12">
                        
                        <h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
                        
                        [[*content]]
                        
                        [[Wayfinder@menu_categories]]
                        
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>

[[$footer]]