<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media min-height-md-100">
                <a class="pull-left" href="#">
                    <img class="media-object img-rounded" src="[[phpthumbon?input=`assets/[[+tv.image]]`&options=`w=70&h=70&bg=ffffff&far=1`]]" width="70" height="70" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="[[~[[+id]]]]">[[+pagetitle]]</a></h4>
                    <p>[[+introtext:truncate=`48`]]</p>
                </div>
            </div>
        </div>
    </div>
</div>