<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 product-list-item-image">
    <div class="thumbnail shk-item">
        <div class="relative">
            <div class="thumbnail-top-buttons buttons-hover-opacity">
                <button type="button" class="btn btn-default[[+id:in_compare=` active`]]" data-toggle="tooltip" data-placement="bottom" title="В избранное" onclick="return shkCompare.toCompare([[+id]],[[+resource_id]],this)">
                    <i class="icon" data-icon="&#xe089"></i>
                </button>
            </div>
        </div>
        <a href="[[~[[+resource_id]]?&scheme=`abs`]][[+alias]].html">
            <img src="[[phpthumbon?input=`assets/files/[[+image]]`&options=`w=200&h=150&bg=ffffff&zs=1`]]" alt="[[+pagetitle]]">
        </a>
        <div class="caption text-center">
            <h3>[[+pagetitle]]</h3>
            <p>[[+introtext]]</p>
            <div class="product-price">
                <span class="shk-price">[[+price:shk_curr_rate:num_format]]</span> [[+shk_currency]]
            </div>
            <div>
                <form action="[[~[[*id]]? &scheme=`abs`]]" method="post">
                    <input type="hidden" name="shk-id" value="[[+id]]" />
                    <input type="hidden" name="shk-name" value="[[+pagetitle]]" />
                    <input type="hidden" name="shk-count" value="1" />
                    <div class="btn-group" role="group">
                        <a href="[[~[[+resource_id]]?&scheme=`abs`]][[+alias]].html" class="btn btn-success" role="button">Подробнее</a>
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="В корзину">
                            <i class="icon" data-icon="&#xe052"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>