<div class="row">
    <div class="col-md-6 col-md-offset-3">

        [[!+cp.successMessage:ne=``:then=`
        <div class="alert alert-success">
            [[!+cp.successMessage]]
        </div>
        `]]

        <form class="form" action="[[~[[*id]]]]" method="post">
            <input type="hidden" name="nospam" value="" />

            <div class="row form-group">
                <label for="formFieldPasswordOld" class="col-sm-5 control-label">
                    Старый пароль
                </label>
                <div class="col-sm-7">
                    <input type="password" name="password_old" class="form-control" id="formFieldPasswordOld" value="[[+cp.password_old]]">
                </div>
                <div class="col-xs-12">
                    <span class="error">[[!+cp.error.password_old]]</span>
                </div>
            </div>

            <div class="row form-group">
                <label for="formFieldNewPassword" class="col-sm-5 control-label">
                    Новый пароль
                </label>
                <div class="col-sm-7">
                    <input type="password" name="password_new" class="form-control" id="formFieldNewPassword" value="[[+cp.password_new]]">
                </div>
                <div class="col-xs-12">
                    <span class="error">[[!+cp.error.password_new]]</span>
                </div>
            </div>

            <div class="row form-group">
                <label for="formFieldConfirmPassword" class="col-sm-5 control-label">
                    Повторите новый пароль
                </label>
                <div class="col-sm-7">
                    <input type="password" name="password_new_confirm" class="form-control" id="formFieldConfirmPassword" value="[[+cp.password_new_confirm]]">
                </div>
                <div class="col-xs-12">
                    <span class="error">[[!+cp.error.password_new_confirm]]</span>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="change-password" value="Change Password">
                    Сохранить
                </button>
            </div>
        </form>

    </div>
</div>