<div class="col-sm-12">
    <div class="thumbnail thumbnail-primary">
        <div class="caption">
            <div class="pull-right">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="[[~[[+resource_id]]?&scheme=`abs`]][[+alias]].html" class="btn btn-success" role="button">Подробнее</a>
                    <a href="[[~[[*id]]]]?cmpr_action=del_product&pid=[[+id]]" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="top" title="Убрать из избранного">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
            </div>
            <h3><a href="[[~[[+resource_id]]?&scheme=`abs`]][[+alias]].html">[[+pagetitle]]</a></h3>
            <p>[[+introtext]]</p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>