<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
    <div class="thumbnail shk-item">
        <a href="[[~[[+id]]?&scheme=`abs`]]">
            <img class="shk-image" src="[[phpthumbon?input=`assets/files/[[+tv.image]]`&options=`w=200&h=150&bg=ffffff&zs=1`]]" alt="[[+pagetitle]]">
        </a>
        <div class="caption text-center">
            <h3>[[+pagetitle]]</h3>
            <p>[[+introtext]]</p>
            <div class="product-price no-margin-top">
                <span class="shk-price">[[+tv.price:shk_curr_rate:num_format]]</span>
                [[+shk_currency]]
            </div>
            <div>
                <form action="[[~[[*id]]? &scheme=`abs`]]" method="post">
                    <input type="hidden" name="shk-id" value="[[+id]]" />
                    <input type="hidden" name="shk-name" value="[[+pagetitle]]" />
                    <input type="hidden" name="shk-count" value="1" />
                    <div class="btn-group" role="group">
                        <a href="[[~[[+id]]?&scheme=`abs`]]" class="btn btn-success" role="button">Подробнее</a>
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="В корзину">
                            <i class="icon" data-icon="&#xe052"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
[[+num:mod=`2`:is=`0`:then=`
<div class="clearfix visible-xs-block visible-sm-block"></div>
`:else=``]]
[[+num:mod=`3`:is=`0`:then=`
<div class="clearfix visible-md-block visible-lg-block"></div>
`:else=``]]