<div class="col-sm-12">
    <div class="thumbnail shk-item">
        <div class="caption">
            <form action="[[~[[*id]]? &scheme=`abs`]]" method="post">
                <div class="pull-right">
                    <div class="product-price no-margin-top">
                        <span class="shk-price">[[+tv.price:shk_curr_rate:num_format]]</span>
                        [[+shk_currency]]
                    </div>
                    <div class="btn-group" role="group">
                        <a href="[[~[[+id]]?&scheme=`abs`]]" class="btn btn-success" role="button">Подробнее</a>
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="В корзину">
                            <i class="icon" data-icon="&#xe052"></i>
                        </button>
                    </div>
                </div>
                <input type="hidden" name="shk-id" value="[[+id]]" />
                <input type="hidden" name="shk-name" value="[[+pagetitle]]" />
                <input type="hidden" name="shk-count" value="1" />
                <h3>
                    <a href="[[~[[+id]]?&scheme=`abs`]]">[[+pagetitle]]</a>
                </h3>
                <p>[[+introtext]]</p>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>