    <div class="footer">
        <div class="container">
            <div class="clearfix">
                <div class="footer-logo">
                    <a href="[[++base_url]]">
                        [[++site_name]]
                    </a>
                </div>
                <dl class="footer-nav">
                    <dd class="nav-item"><a href="[[~2]]">Каталог товаров</a></dd>
                    <dd class="nav-item"><a href="[[~3]]">Информация</a></dd>
                </dl>
                <dl class="footer-nav">
                    <dd class="nav-item"><a href="[[~11]]">Поиск</a></dd>
                    <dd class="nav-item"><a href="[[~4]]">Контакты</a></dd>
                </dl>
            </div>
            <div class="footer-copyright text-center">
                &copy; 2015
                &bull;
                Сайт работает на <a href="http://modx.com/" target="_blank">MODX</a> + <a href="http://modx-shopkeeper.ru/" target="_blank">Shopkeeper</a>.
            </div>
        </div>
    </div>
    
</div>

</body>
</html>