    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="">
                <div class="navbar-header header-image">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Меню</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="header-right">

                        <div class="pull-right">
                            [[!+modx.user.id:gt=`0`:then=`
                            <a href="[[~39]]">
                                <span data-toggle="tooltip" title="Профиль">
                                    <i class="icon" data-icon="&#xe0b4"></i>
                                    [[!+modx.user.id:userinfo=`email`]]
                                </span>
                            </a>
                            `:else=`
                            <a href="[[~39]]">
                                <i class="icon" data-icon="&#xe098" data-toggle="tooltip" title="Войти"></i>
                            </a>
                            `]]
                        </div>

                        [[!compare@compare_options]]
                        
                        [[!Shopkeeper3@cart_catalog_modx_resources]]
                        
                    </div>
                    <a class="navbar-brand" href="[[++base_url]]">
                        [[++site_name]]
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    [[menuCaching@top_menu]]

                    <div class="navbar-form-right navbar-right">
                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <form action="[[~11]]" method="get"role="search">
                                    <div class="form-search search-only">
                                        <i class="search-icon glyphicon glyphicon-search"></i>
                                        <input type="search" name="f_pagetitle[like]" class="form-control search-query" value="[[!getRequest?paramName=`f_pagetitle.like`]]">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <select class="form-control" id="site_currency" name="curency">
                                    <option value="1">руб.</option>
                                    <option value="2">грн.</option>
                                    <option value="3">USD</option>
                                    <option value="4">euro</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
