<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[++site_name]] / [[*pagetitle]]</title>
    <meta name="description" content="[[*introtext:htmlent]]">

    <link rel="stylesheet" href="[[++base_url]]assets/template/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="[[++base_url]]assets/template/bootflat/bootflat/css/bootflat.css">
    <link rel="stylesheet" href="[[++base_url]]assets/template/js/slick/css/slick.css">
    <link rel="stylesheet" href="[[++base_url]]assets/template/js/slick/css/slick-theme.css">
    <link rel="stylesheet" href="[[++base_url]]assets/template/js/viewerjs/dist/viewer.min.css">
    <link rel="stylesheet" href="[[++base_url]]assets/template/angularicons/src/css/angularicons.css">
    <link rel="stylesheet" href="[[++base_url]]assets/components/tag_manager2/css/web/tm-style.css">
    <link rel="stylesheet" href="[[++base_url]]assets/template/css/custom.css">

    <script type="text/javascript" src="[[++base_url]]assets/template/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="[[++base_url]]assets/template/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="[[++base_url]]assets/template/js/viewerjs/dist/viewer.js"></script>
    <script type="text/javascript" src="[[++base_url]]assets/template/js/slick/slick.js"></script>
    <script type="text/javascript" src="[[++base_url]]assets/components/shopkeeper3/web/js/lang/ru.js"></script>
    <script type="text/javascript" src="[[++base_url]]assets/components/shopkeeper3/web/js/shopkeeper.js"></script>
    <script type="text/javascript" src="[[++base_url]]assets/components/tag_manager2/js/web/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="[[++base_url]]assets/components/tag_manager2/js/web/jquery.history.src.js"></script>
    <script type="text/javascript" src="[[++base_url]]assets/components/tag_manager2/js/web/filters.js"></script>
    <script type="text/javascript" src="[[++base_url]]assets/components/tag_manager2/js/web/view_switch.js"></script>
    <script type="text/javascript" src="[[++base_url]]assets/template/js/script.js"></script>

</head>
<body>

<div class="container">