<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[++site_name]] / [[*pagetitle]]</title>
    <meta name="description" content="[[*introtext:htmlent]]">

    <link rel="stylesheet" href="[[++base_url]]assets/template/dist/css/styles_all.min.css">
    <script type="text/javascript" src="[[++base_url]]assets/template/dist/js/scripts_all.min.js"></script>
</head>
<body>

<div class="container">