[[$head]]

[[$header]]

<div class="row">
    
    <div class="col-md-8">
        
        <h3>Новинки</h3>
        <div class="slick-slider-three">
            [[!getProducts@mainpage_new]]
        </div>

        <div class="clearfix"></div>

        <h3>Лидеры продаж</h3>
        <div class="slick-slider-three">
            [[!getProducts@mainpage_leaders]]
        </div>
        
        <div class="clearfix"></div>
        
        [[*content]]
        
    </div>
    <div class="col-md-4 margin-bottom-lg">
        
        [[Wayfinder@menu_categories]]
        
        <br>
            
        <a class="btn btn-info btn-block btn-lg" href="http://e-store.modx-shopkeeper.ru/besplatno/demo-sajt-shopkeeper-3.x.html" target="_blank">
            Скачать демо-сайт
        </a>
        
    </div>
    
</div>

[[$footer]]